<div class="container align-middle">
  <div class="row text-center pt-5">
    <div class="col-md-6 order-md-2">
      <div class="picture-box">
        <img class="img" src="/assets/img/me.jpg" alt="subhash.jpg" />
      </div>
      <h1>
        Subhash Jha
      </h1>
      <p style="font-size: large">
        Enthusiastic about new technologies 😍
      </p>
      <div id="social-media">
        <a *ngFor="let sm of socialMediaList; let i = index" [href]="sm.link" target="_blank" class="social ms-2"
          (mouseleave)="hover=-1" (mouseenter)="handleHoverOnSocialMedia(i)">
          <i [class]="sm.class" [ngStyle]="hover === i ? { color: sm.color }: null"></i>
        </a>
      </div>
    </div>
    <div class="col-md-3 custom-panel order-md-1">
      <div>
        <div *ngIf="myGithubProfile as profile">

          <a [href]="profile.html_url">
            <div>
              <i class="fab fa-github fa-4x"></i>
            </div>
            {{ profile.name }}
          </a>
          <div>
            <a [href]="'https://github.com/'+company" *ngFor="let company of profile.company.split('@').join('').split(' ')">
              @{{ company }}
            </a>
          </div>
          <div class="mt-2 mb-4">
            <i class="fab fa-angular fa-2x"></i>
            <i class="fab fa-html5 fa-2x"></i>
            <i class="fab fa-css3 fa-2x"></i>
            <i class="fab fa-js fa-2x"></i>
            <i class="fab fa-c fa-2x"></i>
          </div>
          <p>{{ profile.bio }}</p>
          <div class="github_stats">
            <div class="rows">
              <div>Followers:</div>
              <div><a [href]="profile.html_url+'?tab=followers'" target="_blank">{{ profile.followers }}</a></div>
            </div>
            <div class="rows">
              <div>Following:</div>
              <div><a [href]="profile.html_url+'?tab=following'" target="_blank">{{ profile.following }}</a></div>
            </div>
            <div class="rows">
              <div>Repositories:</div>
              <div><a [href]="profile.html_url+'?tab=repositories'" target="_blank">{{ profile.public_repos }}</a></div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-md-3 custom-panel order-md-3 mt-xs-2">
      <a [href]="'https://dev.to/subhashjha35'" target="_blank">
        <div>
          <i class="fab fa-dev fa-4x"></i>
        </div>
      </a>
      <div *ngIf="devToArticles.length; else noArticles">
        <div *ngFor="let article of devToArticles">
          <a [href]="article.url" target="_blank">{{ article.title }}</a>
          <div>
            ({{ article.reading_time_minutes }}
            {{ article.reading_time_minutes > 1 ? 'mins': 'min' }})
          </div>
        </div>
      </div>
      <ng-template #noArticles>
        <div *ngFor="let i of [1,2,3]" class="placeholder-glow">
          <div class="placeholder placeholder-xs">
            Custom Pipes in Angular:
          </div>
          <div class="placeholder placeholder-xs">
            Data Transformation and Presentation
          </div>
          <div class="placeholder placeholder-xs">(3 mins)</div>
        </div>
      </ng-template>
    </div>
  </div>


</div>
