<div class="scrolling" style="font-family: 'Montserrat', sans-serif">
  <h1
    class="text-center mb-0 p-4"
    style="
      color: white;
      border-top: 1px solid #323946;
      background-color: #1f242d;
      font-family: 'Montserrat', sans-serif;
      font-weight: 400;
    "
  >
    Projects
  </h1>
  <div
    class="w-100 container-fluid"
    style="background-color: #323946; color: white"
  >
    <div class="text-center py-4">
      <h2>ID-Card Generator</h2>
    </div>
    <div class="row">
      <div
        class="col-md-6 d-flex justify-content-center align-items-center pt-3 pb-3"
      >
        <div class="d-flex flex-column align-items-center">
          <div
            id="carousel-idcard"
            class="carousel slide"
            data-ride="carousel"
            style="width: 90%"
          >
            <div class="carousel-inner">
              <div class="carousel-item active" data-interval="2500">
                <img
                  src="https://github.com/rituparna-ui/iiitg-icard/raw/main/previews/1.jpeg"
                  class="d-block w-100"
                  alt="request-form"
                />
              </div>
              <div class="carousel-item" data-interval="2500">
                <img
                  src="https://github.com/rituparna-ui/iiitg-icard/raw/main/previews/2.jpeg"
                  class="d-block w-100"
                  alt="admin-dashboard-1"
                />
              </div>
              <div class="carousel-item" data-interval="2500">
                <img
                  src="https://github.com/rituparna-ui/iiitg-icard/raw/main/previews/3.jpeg"
                  class="d-block w-100"
                  alt="admin-dashboard-2"
                />
              </div>
              <div class="carousel-item" data-interval="2500">
                <img
                  src="https://github.com/rituparna-ui/iiitg-icard/raw/main/previews/4.jpeg"
                  class="d-block w-100"
                  alt="login-page"
                />
              </div>
            </div>
            <button
              class="carousel-control-prev"
              type="button"
              data-target="#carousel-idcard"
              data-slide="prev"
            >
              <span
                class="carousel-control-prev-icon"
                aria-hidden="true"
              ></span>
              <span class="sr-only">Previous</span>
            </button>
            <button
              class="carousel-control-next"
              type="button"
              data-target="#carousel-idcard"
              data-slide="next"
            >
              <span
                class="carousel-control-next-icon"
                aria-hidden="true"
              ></span>
              <span class="sr-only">Next</span>
            </button>
          </div>
          <div class="mt-3">
            <a
              href="https://github.com/rituparna-ui/iiitg-icard"
              title="Go to GitHub repo"
              target="_blank"
              ><img
                src="https://img.shields.io/static/v1?label=&message=iiitg-icard&color=%23505050&logo=github"
                alt='"" - node-com'
                height="24px"
            /></a>
          </div>
        </div>
      </div>
      <div
        class="col-md-6 d-flex align-items-center flex-column"
        style="color: white"
      >
        <p class="lead p-4 mt-0">
          The IIIT Guwahati I-card generator and student management app, built
          with Node.js and MongoDB, enables institute students to log in using
          their institute email IDs and complete an ID card request form.
          <br />
          Administrators or authorized personnel can then review and approve or
          reject these requests, streamlining the ID card generation process.
          This automation significantly boosts efficiency and accuracy,
          replacing manual labor.
          <br />
          <strong style="font-weight: bold">
            This application processes around 500 ID card requests annually,
            benefiting the Indian Institute of Information Technology Guwahati.
          </strong>
        </p>
        <div>
          <div class="mb-4">
            <img
              src="/assets/icons/nodejs.png"
              alt="NodeJS"
              width="56px"
              style="margin-right: 8px"
            />
            <img src="/assets/icons/express.png" alt="ExpressJS" width="56px" />
            <img
              src="/assets/icons/mongodb-leaf.png"
              alt="MongoDB"
              width="56px"
            />
          </div>
        </div>
      </div>
    </div>
  </div>

  <div
    class="w-100 container-fluid"
    style="background-color: #1f242d; color: white"
  >
    <div class="text-center py-4">
      <h2>Eligram-X</h2>
    </div>
    <div class="row d-flex">
      <div
        class="col-md-6 d-flex align-items-center flex-column order-sm-2 order-md-1"
        style="color: white"
      >
        <p class="lead p-4">
          Eligram-X is a robust social media platform built with the MEAN stack,
          featuring advanced security measures like OAuth, session management,
          and two-factor authentication. It offers a comprehensive admin panel
          for managing user data and integrates real-time communication through
          WebSockets and push notifications. The platform also incorporates
          external tools like Discord and Telegram for enhanced admin
          functionality.
        </p>
        <div>
          <div class="mb-4">
            <img
              src="/assets/icons/nodejs.png"
              alt="NodeJS"
              width="56px"
              style="margin-right: 8px"
            />
            <img src="/assets/icons/express.png" alt="ExpressJS" width="56px" />
            <img
              src="/assets/icons/angular.png"
              alt="Angular"
              width="56px"
              class="ml-1"
            />
            <img
              src="/assets/icons/mongodb-leaf.png"
              alt="MongoDB"
              width="56px"
            />
            <img
              src="/assets/icons/redis.png"
              alt="redis"
              width="56px"
              class="mr-3"
            />
            <img
              src="/assets/icons/firebase-logo.png"
              alt="firebase"
              width="48px"
            />
          </div>
        </div>
      </div>
      <div
        class="col-md-6 d-flex justify-content-center align-items-center pt-3 pb-3 order-sm-1 order-md-2"
      >
        <div class="d-flex flex-column align-items-center">
          <div
            id="carousel-eligram"
            class="carousel slide"
            data-ride="carousel"
            style="width: 90%"
          >
            <div class="carousel-inner">
              <div class="carousel-item active" data-interval="2500">
                <img
                  src="https://github.com/rituparna-ui/eligram-x/blob/main/client/src/previews/1.jpeg?raw=true"
                  class="d-block w-100"
                  alt="request-form"
                />
              </div>
              <div class="carousel-item" data-interval="2500">
                <img
                  src="https://github.com/rituparna-ui/eligram-x/blob/main/client/src/previews/2.jpeg?raw=true"
                  class="d-block w-100"
                  alt="admin-dashboard-1"
                />
              </div>
              <div class="carousel-item" data-interval="2500">
                <img
                  src="https://github.com/rituparna-ui/eligram-x/blob/main/client/src/previews/7.jpeg?raw=true"
                  class="d-block w-100"
                  alt="admin-dashboard-2"
                />
              </div>
              <div class="carousel-item" data-interval="2500">
                <img
                  src="https://github.com/rituparna-ui/eligram-x/blob/main/client/src/previews/8.jpeg?raw=true"
                  class="d-block w-100"
                  alt="login-page"
                />
              </div>
              <div class="carousel-item" data-interval="2500">
                <img
                  src="https://github.com/rituparna-ui/eligram-x/blob/main/client/src/previews/5.jpeg?raw=true"
                  class="d-block w-100"
                  alt="login-page"
                />
              </div>
              <div class="carousel-item" data-interval="2500">
                <img
                  src="https://github.com/rituparna-ui/eligram-x/blob/main/client/src/previews/6.jpeg?raw=true"
                  class="d-block w-100"
                  alt="login-page"
                />
              </div>
              <div class="carousel-item" data-interval="2500">
                <img
                  src="https://github.com/rituparna-ui/eligram-x/blob/main/client/src/previews/3.jpeg?raw=true"
                  class="d-block w-100"
                  alt="login-page"
                />
              </div>
              <div class="carousel-item" data-interval="2500">
                <img
                  src="https://github.com/rituparna-ui/eligram-x/blob/main/client/src/previews/4.jpeg?raw=true"
                  class="d-block w-100"
                  alt="login-page"
                />
              </div>
            </div>
            <button
              class="carousel-control-prev"
              type="button"
              data-target="#carousel-eligram"
              data-slide="prev"
            >
              <span
                class="carousel-control-prev-icon"
                aria-hidden="true"
              ></span>
              <span class="sr-only">Previous</span>
            </button>
            <button
              class="carousel-control-next"
              type="button"
              data-target="#carousel-eligram"
              data-slide="next"
            >
              <span
                class="carousel-control-next-icon"
                aria-hidden="true"
              ></span>
              <span class="sr-only">Next</span>
            </button>
          </div>
          <div class="mt-3">
            <a
              href="https://github.com/rituparna-ui/eligram-x"
              title="Go to GitHub repo"
              target="_blank"
              ><img
                src="https://img.shields.io/static/v1?label=&message=eligram-x&color=%23505050&logo=github"
                alt='"" - node-com'
                height="24px"
            /></a>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div
    class="w-100 container-fluid"
    style="background-color: #323946; color: white"
  >
    <div class="text-center py-4">
      <h2>HealthCare Portal</h2>
      <h4>Best HealthCare Solution, HackVerse NIT Surathkal</h4>
    </div>
    <div class="row">
      <div
        class="col-md-6 d-flex justify-content-center align-items-center pt-3 pb-3"
      >
        <div class="d-flex flex-column align-items-center">
          <div>
            <iframe
              width="380px"
              height="240px"
              src="https://www.youtube.com/embed/u4v8C43VuFw"
              title="HackVerse NIT Surathkal | Points of Care"
              frameborder="0"
              allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
              allowfullscreen
            ></iframe>
          </div>
          <div class="mt-3">
            <a
              href="https://github.com/rituparna-ui/health-care-portal"
              title="Go to GitHub repo"
              target="_blank"
              ><img
                src="https://img.shields.io/static/v1?label=&message=health-care-portal&color=%23505050&logo=github"
                alt='"" - node-com'
                height="24px"
            /></a>
          </div>
        </div>
      </div>
      <div
        class="col-md-6 d-flex align-items-center flex-column"
        style="color: white"
      >
        <p class="lead p-4">
          One-stop platform for better virtual healthcare in a hassle-free
          manner and eliminates any stigma associated with conventional
          treatment. Our aim is to provide relevant information about diseases
          and treatments and expanding physician’s ability to care for patients
          in a quick and accurate manner.
        </p>
        <div>
          <div class="mb-4">
            <img
              src="/assets/icons/nodejs.png"
              alt="NodeJS"
              width="56px"
              style="margin-right: 8px"
            />
            <img src="/assets/icons/express.png" alt="ExpressJS" width="56px" />
            <img
              src="/assets/icons/mongodb-leaf.png"
              alt="MongoDB"
              width="56px"
            />
            <img src="/assets/icons/fastApi.png" alt="fastApi" width="56px" />
            <img src="/assets/icons/react.png" alt="react" width="56px" />
          </div>
        </div>
      </div>
    </div>
  </div>

  <div
    class="w-100 container-fluid"
    style="background-color: #1f242d; color: white"
  >
    <div class="text-center py-4">
      <h2>Node Commerce</h2>
    </div>
    <div class="row d-flex">
      <div
        class="col-md-6 d-flex justify-content-center align-items-center pt-3 pb-3 order-sm-1 order-md-2"
      >
        <div class="d-flex flex-column align-items-center">
          <div
            id="carousel-nodecom"
            class="carousel slide"
            data-ride="carousel"
            style="width: 90%"
          >
            <div class="carousel-inner">
              <div class="carousel-item active" data-interval="2500">
                <img
                  src="https://github.com/rituparna-ui/node-com/raw/master/previews/3.jpeg"
                  class="d-block w-100"
                  alt="request-form"
                />
              </div>
              <div class="carousel-item" data-interval="2500">
                <img
                  src="https://github.com/rituparna-ui/node-com/raw/master/previews/5.jpeg"
                  class="d-block w-100"
                  alt="admin-dashboard-1"
                />
              </div>
              <div class="carousel-item" data-interval="2500">
                <img
                  src="https://github.com/rituparna-ui/node-com/raw/master/previews/1.jpeg"
                  class="d-block w-100"
                  alt="admin-dashboard-2"
                />
              </div>
              <div class="carousel-item" data-interval="2500">
                <img
                  src="https://github.com/rituparna-ui/node-com/raw/master/previews/4.jpeg"
                  class="d-block w-100"
                  alt="login-page"
                />
              </div>
              <div class="carousel-item" data-interval="2500">
                <img
                  src="https://github.com/rituparna-ui/node-com/raw/master/previews/2.jpeg"
                  class="d-block w-100"
                  alt="login-page"
                />
              </div>
              <div class="carousel-item" data-interval="2500">
                <img
                  src="https://github.com/rituparna-ui/node-com/raw/master/previews/6.jpeg"
                  class="d-block w-100"
                  alt="login-page"
                />
              </div>
            </div>
            <button
              class="carousel-control-prev"
              type="button"
              data-target="#carousel-nodecom"
              data-slide="prev"
            >
              <span
                class="carousel-control-prev-icon"
                aria-hidden="true"
              ></span>
              <span class="sr-only">Previous</span>
            </button>
            <button
              class="carousel-control-next"
              type="button"
              data-target="#carousel-nodecom"
              data-slide="next"
            >
              <span
                class="carousel-control-next-icon"
                aria-hidden="true"
              ></span>
              <span class="sr-only">Next</span>
            </button>
          </div>
          <div class="mt-3">
            <a
              href="https://github.com/rituparna-ui/node-com"
              title="Go to GitHub repo"
              target="_blank"
              ><img
                src="https://img.shields.io/static/v1?label=&message=node-com&color=%23505050&logo=github"
                alt='"" - node-com'
                height="24px"
            /></a>
          </div>
        </div>
      </div>
      <div
        class="col-md-6 d-flex align-items-center flex-column order-sm-2 order-md-1"
        style="color: white"
      >
        <p class="lead p-4">
          An E-commerce web application that allows users to buy and sell
          products online. Built using NodeJS and MongoDB, featuring a complete
          Admin panel and payment integration using the Stripe payment
          processing platform.
        </p>
        <div>
          <div class="mb-4">
            <img
              src="/assets/icons/nodejs.png"
              alt="NodeJS"
              width="56px"
              style="margin-right: 8px"
            />
            <img src="/assets/icons/express.png" alt="ExpressJS" width="56px" />
            <img
              src="/assets/icons/mongodb-leaf.png"
              alt="MongoDB"
              width="56px"
            />
            <img
              src="/assets/icons/stripe_black.png"
              alt="MongoDB"
              width="88px"
              style="margin: -12px"
            />
          </div>
        </div>
      </div>
    </div>
  </div>

  <div
    class="w-100 container-fluid"
    style="background-color: #323946; color: white"
  >
    <div class="text-center py-4">
      <h2>Ricing Linux</h2>
    </div>
    <div class="row">
      <div
        class="col-md-6 d-flex justify-content-center align-items-center pt-3 pb-3"
      >
        <div class="d-flex flex-column align-items-center">
          <div
            id="carousel-rice"
            class="carousel slide"
            data-ride="carousel"
            style="width: 90%"
          >
            <div class="carousel-inner">
              <div class="carousel-item active" data-interval="2500">
                <img
                  src="https://raw.githubusercontent.com/rituparna-ui/dotfiles/master/previews/2.png"
                  class="d-block w-100"
                  alt="request-form"
                />
              </div>
              <div class="carousel-item" data-interval="2500">
                <img
                  src="https://raw.githubusercontent.com/rituparna-ui/dotfiles/master/previews/3.png"
                  class="d-block w-100"
                  alt="admin-dashboard-1"
                />
              </div>
              <div class="carousel-item" data-interval="2500">
                <img
                  src="https://raw.githubusercontent.com/rituparna-ui/dotfiles/master/previews/1.png"
                  class="d-block w-100"
                  alt="admin-dashboard-2"
                />
              </div>
              <div class="carousel-item" data-interval="2500">
                <img
                  src="https://raw.githubusercontent.com/rituparna-ui/dotfiles/master/previews/4.png"
                  class="d-block w-100"
                  alt="login-page"
                />
              </div>
            </div>
            <button
              class="carousel-control-prev"
              type="button"
              data-target="#carousel-rice"
              data-slide="prev"
            >
              <span
                class="carousel-control-prev-icon"
                aria-hidden="true"
              ></span>
              <span class="sr-only">Previous</span>
            </button>
            <button
              class="carousel-control-next"
              type="button"
              data-target="#carousel-rice"
              data-slide="next"
            >
              <span
                class="carousel-control-next-icon"
                aria-hidden="true"
              ></span>
              <span class="sr-only">Next</span>
            </button>
          </div>
          <div class="mt-3">
            <a
              href="https://github.com/rituparna-ui/.dotfiles"
              title="Go to GitHub repo"
              target="_blank"
              ><img
                src="https://img.shields.io/static/v1?label=&message=.dotfiles&color=%23505050&logo=github"
                alt='"" - node-com'
                height="24px"
            /></a>
          </div>
        </div>
      </div>
      <div class="col-md-6 d-flex flex-column" style="color: white">
        <p class="lead m-0">
          I rice my own Linux
          <br />
          ( I use arch btw 🥳)
          <br />
          You might be here looking for (Linux) rice reference or to replicate
          my personal configuration of my favorite bspwm Window Manager and
          several apps as well.
        </p>
        <br />
        <ul>
          <li>bspwm</li>
          <li>sxkhd</li>
          <li>polybar</li>
          <li>eww</li>
          <li>rofi</li>
          <li>and a bunch of shell scripts</li>
        </ul>
        <br />
      </div>
    </div>
  </div>

  <div
    class="w-100 container-fluid"
    style="background-color: #1f242d; color: white"
  >
    <div class="text-center py-4">
      <h2>Kernel</h2>
      <h4>
        A multi-threaded kernel from scratch in
        <kbd style="font-size: larger">C</kbd>
      </h4>
    </div>
    <div class="row d-flex">
      <div
        class="col-md-6 d-flex justify-content-center align-items-center pt-3 pb-3 order-sm-1 order-md-2"
      >
        <div class="d-flex flex-column align-items-center">
          <div
            id="carousel-nodecom"
            class="carousel slide"
            data-ride="carousel"
            style="width: 90%"
          >
            <div class="carousel-inner">
              <div class="carousel-item active" data-interval="2500">
                <img
                  src="/assets/img/vga.jpeg"
                  class="d-block w-100"
                  alt="request-form"
                />
              </div>
            </div>
            <button
              class="carousel-control-prev"
              type="button"
              data-target="#carousel-nodecom"
              data-slide="prev"
            >
              <span
                class="carousel-control-prev-icon"
                aria-hidden="true"
              ></span>
              <span class="sr-only">Previous</span>
            </button>
            <button
              class="carousel-control-next"
              type="button"
              data-target="#carousel-nodecom"
              data-slide="next"
            >
              <span
                class="carousel-control-next-icon"
                aria-hidden="true"
              ></span>
              <span class="sr-only">Next</span>
            </button>
          </div>
          <div class="mt-3">
            <a
              href="https://github.com/rituparna-ui/kernel"
              title="Go to GitHub repo"
              target="_blank"
              ><img
                src="https://img.shields.io/static/v1?label=&message=kernel&color=%23505050&logo=github"
                alt='"" - node-com'
                height="24px"
            /></a>
          </div>
        </div>
      </div>
      <div
        class="col-md-6 d-flex align-items-center flex-column order-sm-2 order-md-1"
        style="color: white"
      >
        <p class="lead p-4">
          Building a 32-bit multi-threaded kernel with FAT16 filesystem,
          utilizing Intel's memory protection mechanisms to safeguard the kernel
          from user program damage. Memory virtualization, virtual filesystem
          layer, FAT16 filesystem driver, task/process functionality, keyboard
          drivers, memory management (malloc and free functions), and an ELF
          file loader implemented all from scratch in C.
        </p>
        <div>
          <div class="mb-4">
            <img
              src="/assets/icons/c.png"
              alt="NodeJS"
              width="56px"
              style="margin-right: 8px"
            />
            <img src="/assets/icons/asm.png" alt="ExpressJS" width="56px" />
          </div>
        </div>
      </div>
    </div>
  </div>

  <div
    class="w-100 container-fluid"
    style="background-color: #323946; color: white"
  >
    <div class="text-center py-4">
      <h2>Emulator 6502</h2>
    </div>
    <div class="row">
      <div
        class="col-md-6 d-flex justify-content-center align-items-center pt-3 pb-3"
      >
        <div class="d-flex flex-column align-items-center">
          <div
            id="carousel-emulator"
            class="carousel slide"
            data-ride="carousel"
            style="width: 90%"
          >
            <div class="carousel-inner">
              <div class="carousel-item active" data-interval="2500">
                <img
                  src="/assets/img/mos_6502.jpg"
                  class="d-block w-100"
                  alt="request-form"
                />
              </div>
            </div>
            <button
              class="carousel-control-prev"
              type="button"
              data-target="#carousel-emulator"
              data-slide="prev"
            >
              <span
                class="carousel-control-prev-icon"
                aria-hidden="true"
              ></span>
              <span class="sr-only">Previous</span>
            </button>
            <button
              class="carousel-control-next"
              type="button"
              data-target="#carousel-emulator"
              data-slide="next"
            >
              <span
                class="carousel-control-next-icon"
                aria-hidden="true"
              ></span>
              <span class="sr-only">Next</span>
            </button>
          </div>
          <div class="mt-3">
            <a
              href="https://github.com/rituparna-ui/emulator-6502"
              title="Go to GitHub repo"
              target="_blank"
              ><img
                src="https://img.shields.io/static/v1?label=&message=emulator-6502&color=%23505050&logo=github"
                alt=""
                height="24px"
            /></a>
          </div>
        </div>
      </div>
      <div
        class="col-md-6 d-flex align-items-center flex-column"
        style="color: white"
      >
        <p class="lead p-4 mt-0">
          Building an emulator for the MOS Technology 6502 CPU from scratch
          using C++. The emulator accurately simulates the behavior and
          instruction set of the 6502 CPU, allowing for the execution of
          programs written for this specific architecture. The project involved
          implementing the core functionalities of the CPU, including registers,
          memory management, and instruction decoding, resulting in a fully
          functional 6502 CPU emulator.
        </p>
        <div>
          <div class="mb-4">
            <img
              src="/assets/icons/cpp.png"
              alt="NodeJS"
              width="56px"
              style="margin-right: 8px"
            />
          </div>
        </div>
      </div>
    </div>
  </div>

  <!--
    multer firebase sharp
    redis-cli
    dr-burn assessment
    igdl
    url-telegraf
    flutter
   -->
  <div style="height: 150px"></div>
</div>
